<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= workout.title %></title>
</head>
<body>
    <h1>Edit <%= workout.title %></h1>
    <form action="/workouts/<%= workout._id %>?_method=PUT" method="POST">
        Title: <input type="text" name="title" value="<%= workout.title %>" required><br>
        Notes: <input type="text" name="notes" value="<%= workout.notes%>" required><br>
        <input type="submit" value="Edit workout">
    </form>
</body>
</html>